[user]
	name = joaoprocopio
	email = joaovitorcprocopio@gmail.com
[alias]
	st = status
	cm = commit -m
	aa = add --all
	lg = log --graph --decorate --abbrev-commit --all --pretty=format:'%C(auto)%h%Creset %C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[init]
	defaultBranch = main
[core]
	excludesfile = /home/joaoprocopio/.gitignore
	editor = code --wait
